@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(#67C7C1,#8ED1CD);
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 10vh;

}
.logo{
    color: orange;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    margin-left: 3vh;
}
.navbar{
    display: flex;
    justify-content: center;
}
.nav-link{
    list-style: none;
    margin-right: 2vh;
    font-size: 20px;
    color: black;
    padding: 5px;
}
.button{
    list-style: none;
    margin-right: 2vh;
    font-size: 20px;
    color: white;
    padding: 3px;
    
    border-radius: 20px;
    background: orange;
    
}
.nav-link:hover{
    color: white;
    background: black;
    border-radius: 20px;
    cursor: pointer;

}
.container{
    
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.card{
    height: 80vh;
    margin-top: 6vh;
    background: white;
    width: 25rem;
    padding: 0rem  15px;
    text-align: center;
    
    border-radius: 30px;
    box-shadow: 0px 20px 20px rgb(0,0,0,0.2), 0px 0px 50px rgb(0,0 ,0, 0.2 );
  }
.message{
      font-size: 20px;
      font-weight: 600;

  }

  form{
      padding-top: 4px;
  }
.inputs{
    border: none;
    font-size: 1.5em;
    padding: 3vh;
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 2px orange solid;
}
.log-in{
    margin-top: 2vh;
    border: none;
    padding: 5px;
    font-size: 17px;
    width: 50%;
    border-radius: 20px;
    background: #5A6175;
    color: white;
    
}
.forgot-password{
    margin-top: 3vh;
}